// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff') format("woff"),
    url('../fonts/Roboto/Roboto-Regular.woff2') format("woff2");
    font-weight: 400;
}

body {
	background: white;
}

main {
	padding: 50px;
	font-family: 'Roboto';
	font-size: 14px;
}

ul {
	list-style: none;
	padding-left: 0;
	padding-bottom: 16px;
	margin-bottom: 24px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	overflow: hidden;
}

li {
	position: relative;
}

.heading {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;
}

.ButtonPanel {
	display: flex;
	justify-content: flex-end;
}

.CheckBox {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	user-select: none;
	border-radius: 6px;
  	border: solid 2px #e8e8e8;
  	overflow: hidden;
  	height: 18px;
	width: 18px;
	background-color: white;
	input {
		position: absolute;
		opacity: 0;
		height: 100%;
		width: 100%;
		&:checked ~ .CheckBox__checkmark {
		    background-color: #82af00;
		}
	}
	&__checkmark {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    height: 85%;
	    width: 85%;
	    background-color: white;
	    border-radius: 3px;
	}
}